#sidebar {
    width: 20%;
    float: left;
    margin: 0;
    padding: 0;
    border: double;
}
#reader {
    width: 78%; /* TODO Too naive... Must be more intelligent way*/
    float: right;
    margin: 0;
    padding: 0;
}

#footer {
    text-align: center;
    clear: both;
}
li {
    color: red;
}

.dat {
    cursor: pointer;
    text-decoration: underline;
}

/* resそれぞれ一つ */
.respond {
    /*border: solid;*/
    /*border-width: 1px;*/
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin-top: 20px;
    background-color: #eee8d5;
}
.respond_meta {
}
.respond_text {
    padding: 20px;
}

body {
    background-color: #fdf6e3;
}
