<!doctype html>
<html lang="ja">
  <head>
    {% block head %}
    <title>twoch</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
    $(function() {
      $(".dat").click(function() {
        $.getJSON("/_get_dat", {
          thread_id: this.id
        }, function(data) {
          console.log(data.result);
          $("#reader").text(data.result);
        });
      });
    });
    {% endblock %}
    </script>
  </head>
  <body>
    <h1>twoch</h1>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2013 by masatana.
      {% endblock %}
    </div>
  </body>
</html>
